@page
@model LoginBindingModel

@{
	ViewData["Title"] = "Вход";
}

<h1>@ViewData["Title"]</h1>
<div class="container-fluid" id="vue-account-container"></div>

@section Scripts {
	<script src="~/bundle/loginPage.bundle.js"></script>
}
