@{
    ViewData["Title"] = "Курсы валют";
}

<div class="text-center">
    <h1 class="display-4">Тестовое приложение "Курсы валют"</h1>
	<div id="vue-app-container"></div>
</div>

@section Scripts
{
	<script src="~/bundle/mainPage.bundle.js"></script>
}
